<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
    <div class="container-fluid">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">{% block header %}{{ include('header.html.twig') }}{% endblock %}</div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-2">{% block menu %}Menu{% endblock %}</div>
            <div class="col-md10">{% block body %}Body{% endblock %}</div>

        </div>
        {#{% block body %} {% endblock %}#}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
